<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<style>
			h1{ 
				color: #40007d;
			}
		</style>
	</head>
	<body>
		<img src="{$url_base}public/image/logo.jpg" class="resize" />
		<div class="nav navbar navbar-default navbar-fixed-top">
			<ul class="nav navbar-nav">
				{if $user->getRole()->getId() == 1}
				<li><a href="{$url_base}/user/index"> Admins</a></li>
				{/if}
				<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
				<li><a href="{$url_base}">Accueil</a></li>
				<li><a href="{$url_base}Test/index"> fair un depot </a></li>
				<li><a href="{$url_base}Test/getId/1">fair un retrait</a></li>
				<li><a href="{$url_base}Test/liste">faire un virment </a></li>
				
				
			</ul>
		</div>
		<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
			<div class="panel panel-info">
				<div class="panel-heading">BIENVENUE DANS LE MENU TRANSACTION</div>
			
			</div>
		</div>
		
	</body>
</html>
		
